:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.carousel .slider-wrapper{
  margin-top: 64px;
}

.item-carousel{
  height: 500px;
  cursor: pointer;
}
.item-carousel img{
  position: absolute;
  left: 0;
  top: -50%;
}
.home-container{
  padding: 30px;
  padding-top: 90px;
}
.title-menu{
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 20;
}
.logo-app{
  display: flex;
  align-items: center;
}
.tool-bar{
  justify-content: space-between;
}
.menu-bar{
  display: flex;
}
.menu{
  color: inherit;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: .2rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 25px 0 25px;
  transition: 0.5s;
}

.menu:hover {
  letter-spacing: 0.1rem;
  text-align: center;
  transition: 0.5s;
}

.pilihan-menu {
  margin-top: 0pxpx;
  transition: 0.2s ease-in-out;
}

.pilihan-menu:hover {
  margin-top: -5px;
  transition: 0.2s ease-in-out;
}

.cart-icon{
  cursor: pointer;
}

.trash-icon{
  cursor: pointer;
}
.currency:before{
  content: 'Rp. ';  
}
.cart-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

